<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.speakup">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/appsplash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexWarning">

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.example.splashactivity"
            android:exported="false"
            android:grantUriPermissions="true" />

        <meta-data
            android:name="APP_DB_NAME"
            android:value="SpeackUP.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.example.speakup.Maintable" />

        <activity
            android:name=".AppSettings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>